[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory
Actions=flac-folder
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=folder-menu

[Desktop Action flac-folder]
Exec=~/git/shell-scripts/src/flac-folder.zsh %F
Name=flac-folder
