[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=audio/x-matroska;audio/x-hx-aac-adts
Actions=resampler;mkvmerge-mka-rename
X-KDE-Submenu=mka-menu
X-KDE-Priority=TopLevel

[Desktop Action resampler]
Name=release-resampler
Exec=~/git/shell-scripts/src/resampler.zsh %F

[Desktop Action mkvmerge-mka-rename]
Name=mkvmerge-mka-rename
Exec=~/git/shell-scripts/src/mkvmerge-mka-rename.zsh %F
