[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/mp4
Actions=num-frames-info
X-KDE-Priority=TopLevel

[Desktop Action num-frames-info]
Name=num-frames-info
Exec=konsole --new-tab --noclose -e "encode-utils-cli num-frames %F"
