[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-shellscript
Actions=renpy-run
X-KDE-Priority=TopLevel

[Desktop Action renpy-run]
Name=run-renpy
Exec=~/git/shell-scripts/src/renpy-run.zsh %F
