[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-shellscript
Actions=run-renpy
X-KDE-Priority=TopLevel

[Desktop Action run-renpy]
Name=run-renpy
Exec=~/git/shell-scripts/src/run-renpy.zsh %F
